.spacing-clear {
	padding: 0;
}

.spacing-base {
	padding: 1rem;
}

.spacing-half {
	padding: .5rem;
}

.spacing-quarter {
	padding: .25rem;
}

.gutter-clear {
	margin: 0;
}

.gutter-base {
	margin: 1rem;
}

.gutter-half {
	margin: .5rem;
}

.gutter-quarter {
	margin: .25rem;
}

.list-clear {
	list-style: none;
}
